<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mybatis : <typeAlias alias="jkWfTask" type="com.canco.bean.JkWfTask" 
	/> <mapper resource="com/canco/persistence/JkWfTaskMapper.xml"/> -->

<mapper namespace="com.canco.mapper.JkWfTaskMapper">

	<sql id="jkWfTaskBaseColumnSql">
		ID,
		BUSI_TYPE,
		TASK_ID,
		PROC_INST_ID,
		URL_,
		CUR_USER,
		CUR_TIME,
		SUBMIT_USER,
		SUBMIT_DEPT,
		APPLY_ID,
		TASK_STATE,
		CREATE_USER
	</sql>

	<sql id="jkWfTaskBaseWhereSql">
		<if test="map!=null">
			<where>
				<if test="map.id != null">
					ID = #{map.id}
				</if>
				<if test="map.busiType != null">
					AND BUSI_TYPE = #{map.busiType}
				</if>
				<if test="map.taskId != null">
					AND TASK_ID = #{map.taskId}
				</if>
				<if test="map.procInstId != null">
					AND PROC_INST_ID = #{map.procInstId}
				</if>
				<if test="map.url != null">
					AND URL_ = #{map.url}
				</if>
				<if test="map.curUser != null">
					AND CUR_USER = #{map.curUser}
				</if>
				<if test="map.submitUser != null">
					AND SUBMIT_USER = #{map.submitUser}
				</if>
				<if test="map.submitDept != null">
					AND SUBMIT_DEPT = #{map.submitDept}
				</if>
				<if test="map.applyId != null">
					AND APPLY_ID = #{map.applyId}
				</if>
				<if test="map.taskState != null">
					AND TASK_STATE = #{map.taskState}
				</if>
				<if test="map.createUser != null">
					AND CREATE_USER = #{map.createUser}
				</if>
				<if test="map.curTime != null">
					AND CREATE_USER = #{map.curTime}
				</if>
			</where>
		</if>
	</sql>

	<insert id="insertJkWfTask" parameterType="jkWfTask">
		INSERT INTO JK_WF_TASK(
		<include refid="jkWfTaskBaseColumnSql" />
		)VALUES(
		#{id ,jdbcType=CHAR},
		#{busiType,jdbcType=VARCHAR},
		#{taskId,jdbcType=VARCHAR},
		#{procInstId,jdbcType=VARCHAR},
		#{url,jdbcType=VARCHAR},
		#{curUser,jdbcType=INTEGER},
		#{curTime,jdbcType=TIMESTAMP},
		#{submitUser,jdbcType=INTEGER},
		#{submitDept,jdbcType=INTEGER},
		#{applyId,jdbcType=INTEGER},
		#{taskState,jdbcType=CHAR},
		#{createUser,jdbcType=INTEGER}
		)
	</insert>


	<delete id="deleteJkWfTaskById" parameterType="String">
		DELETE FROM
		JK_WF_TASK WHERE ID = #{id}
	</delete>
	
	<delete id="deleteJkWfTaskByCurUserAndProcInstIdAndTaskState" parameterType="map">
		DELETE FROM
		JK_WF_TASK WHERE  PROC_INST_ID = #{procInstId} AND CUR_USER = #{curUser}
		AND TASK_STATE = #{taskState}
	</delete>

	<update id="updateJkWfTask" parameterType="jkWfTask">
		UPDATE JK_WF_TASK
		<set>
			<if test="busiType != null">
				BUSI_TYPE = #{busiType} ,
			</if>
			<if test="procInstId != null">
				PROC_INST_ID = #{procInstId} ,
			</if>
			<if test="url != null">
				URL_ = #{url} ,
			</if>
			<if test="curUser != null">
				CUR_USER = #{curUser} ,
			</if>
			<if test="curTime != null">
				CUR_TIME = #{curTime} ,
			</if>
			<if test="submitUser != null">
				SUBMIT_USER = #{submitUser} ,
			</if>
			<if test="submitDept != null">
				SUBMIT_DEPT = #{submitDept} ,
			</if>
			<if test="applyId != null">
				APPLY_ID = #{applyId} ,
			</if>
			<if test="taskState != null">
				TASK_STATE = #{taskState} ,
			</if>
			<if test="createUser != null">
				CREATE_USER = #{createUser} 
			</if>
		</set>
		WHERE TASK_ID = #{taskId} 
	</update>

	<select id="searchJkWfTaskByParams" parameterType="map"
		resultMap="jkWfTaskMap">
		SELECT
		<include refid="jkWfTaskBaseColumnSql" />
		FROM JK_WF_TASK
		<include refid="jkWfTaskBaseWhereSql" />
	</select>

	<resultMap type="JkWfTask" id="jkWfTaskMap">
		<id column="ID" property="id" />
		<result column="BUSI_TYPE" property="busiType" />
		<result column="TASK_ID" property="taskId" />
		<result column="PROC_INST_ID" property="procInstId" />
		<result column="URL_" property="url" />
		<result column="CUR_USER" property="curUser" />
		<result column="SUBMIT_USER" property="submitUser" />
		<result column="SUBMIT_DEPT" property="submitDept" />
		<result column="APPLY_ID" property="applyId" />
		<result column="TASK_STATE" property="taskState" />
		<result column="CREATE_USER" property="createUser" />
		<result column="CUR_TIME" property="curTime" />
	</resultMap>

</mapper>
